* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/bg-pattern-top-desktop.svg),
    url(images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: right 68vw top, right 15vh;

  font-family: "Spartan", sans-serif;

  margin-top: 60px;
  margin-left: 80px;

}

h1 {
  color: hsl(300, 43%, 22%);
  padding-top: 15px;
  padding-right: 50%;
  padding-bottom: 5%;
  font-weight: 700;
  font-size: 40px;
}

.text {
  float: left;
  width: 620px;
}

.description {
  color: hsl(300, 43%, 22%);
  padding-right: 20%;
}

.ranking {
  float: left;
}

.rank {
  background-color: hsl(300, 24%, 96%);
  position: relative;
  width: 400px;
  padding: 20px;
  margin: 5%;
  border-radius: 5%;
}

.stars {
  display: inline-block;
  padding-right: 20px;
}

.rated {
  display: inline-block;
  color: hsl(300, 43%, 22%);
  font-weight: 500;
  font-weight: bold;
}


.secondR {
  left: 40px;
}
.thirdR {
  left: 80px;
}

.people {
  display: inline-block;
  height: 300px;
}

.boxes {
  background-color: hsl(300, 43%, 22%);
  display: inline-block;
  position: relative;
  width: 315px;

  border-radius: 5%;
  padding: 30px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.ima {
  float: left;
  border-radius: 100%;
/*   padding-right: 20px;
  padding-bottom: 20px; */
  width: 15%;
  margin-bottom: 25px;
  margin-right: 25px;
}

.name {
  float: left;
  color: white;
  padding-top: 10px;
  padding-right: 50px;
  font-weight: bold;
  
}

.profession {
  float: left;
  color: hsl(333, 80%, 67%);
}
.quote {
  display: inline-block;
  color: white;
  font-size: 14px;
}

.secondP {
  top: 20px;
  left: 25px;
}

.thirdP {
  top: 40px;
  left: 50px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
